@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PrimeEF.Models.Student
<form action="InsertStudent" method="post">
    <label>Name</label>
    <input type="text" asp-for="Name" /><br />


    <label>Gender</label>
    <input type="text" asp-for="Gender" /><br />

    <label>Address</label>
    <input type="text" asp-for="Address" /><br />

    <label>Faculty</label>
    <input type="text" asp-for="Faculty" /><br />
    <input type="submit" name="submit" value="Submit" />
</form>